*.csv
*.log
log_*
*.png
*.bin
*.o
*.lock
*.blg
*.dvi
*.aux
*.out
*.fls
*.fdb_latexmk
*.bbl
*.bcf
*.vi
*.xml
*.mp4
*.ppt
*.txt
papers/osdi21/paper.pdf
papers/hotos21/paper.pdf
papers/sosp21/paper.pdf
papers/osdi22/paper.pdf
target
miri-target
.mtrlz.log
**/*.rs.bk
.netlify
mzdata
__pycache__
.mypy_cache
venv
node_modules
tags
.DS_Store
