{{#*inline "page"}}
  <p>Your API key has been emailed to <b>{{{ apikey_email }}}</b>.</p>

  <p>Once you've received the API key, paste it below to log in.</p>
  <form action="/apikey/login" method="post" accept-charset="utf-8">
    <label>API key:
      <p>
      <input name="key" />
      </p>
    </label>
      <input type = "hidden" name="email" value = "{{{ apikey_email }}}"/>
    <input type="submit" value="Submit">
  </form>

  <p><a href="/">Back to login</a></p>
{{/inline}}
{{~> layout~}}
