{{#*inline "page"}}
    <form action="/edit" method="post" accept-charset="utf-8">
        <label>Email:
          <p>
          <input name="email" />
          </p>
        </label>
        <label>APIKey:
          <p>
          <input name="apikey" />
          </p>
        </label>
        <input type="submit" value="Submit">
    </form>
{{/inline}}
{{~> layout~}}
