<hr />
<p><small><form action="/delete" method="post" accept-charset="utf-8">
    <input type="submit" value="Delete my account">
</form></small></p>
<p><small><a href="/login">Back to login</a></small></p>
<p><small>Credits to webserver-rs</small></p>
