.navbar-dark {
  background-color: #3e2619; /*98a4ae; #4e3629;*/
  font-size: 1em;
  padding: 0;
}

.navbar-dark .navbar-brand {
  background-color: #ffc72c; /*#ed1c24;*/
  color: black;
  padding: 0.5rem;
}

.navbar-dark .active {
  background-color: #98a4ae; /*#88949e; #3e2619;*/
}

.navbar-dark .nav-item {
  padding: 0.2rem;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
  background-color: #ffc72c; /*#ed1c24;*/
  color: black;
}

.navbar-dark .navbar-nav > li > a {
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .active .nav-link {
  color: white;
  /*color: #ffc72c;*/
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: white;
}

.navbar-right {
  /*background-color: #ed1c24;*/
  background-color: #ed1c24; /*#4e3629; #98A4AE;*/
  padding: 0.7rem;
}

.navbar-dark .navbar-right > li > a,
.navbar-dark .navbar-right > li > a:hover,
.navbar-dark .navbar-right > li > a:focus {
  color: white;
  /*color: white;*/
}

div.responsebox {
  margin: 1pc 4% 0pc 4%;
  padding: 0.5pc 0.5pc 0.5pc 0.5pc;
  background-color: #e0e0ff;
  border: 1px dashed red;
}

pre.responsepre {
  white-space: pre-wrap;
}
