{{#*inline "page"}}
    <h1>Anonymize Users</h1>
    <form action="/admin/anonymize" method="post" accept-charset="utf-8">
      <input type="submit" value="Anonymize (WARNING:IRREVERSIBLE)!">
    </form>
{{/inline}}
{{~> parent~}}
