{{#*inline "page"}}
  <h1>Welcome to the {{{ CLASS_ID }}} submission system!</h1>

  <h5>Generate API key:</h5>
  <form action="/apikey/generate" method="post" accept-charset="utf-8">
    <label>Your email address:
      <p>
      <input name="email" />
      </p>
    </label>
    <input type="submit" value="Submit">
  </form>

  <h5>Log in with API key</h5>
  <form action="/apikey/check" method="post" accept-charset="utf-8">
    <label>Your API key:
      <p>
      <input name="key" />
      </p>
    </label>
    <input type="submit" value="Submit">
  </form>
{{/inline}}
{{~> layout~}}
